html { /* Smooth scrolling */
    scroll-behavior: smooth;
}

nav { /* Creates a gradient color background for the navbar */
    /* background-image: linear-gradient(to bottom right, rgb(211, 20, 20) , rgb(9, 9, 180)); */
    /* border-radius: 20px; */
    height: 50px;
    /* margin-bottom: 1rem; */
    /* position: fixed; */
}

nav li {  /* Navbar list items are center and spaced out */
    /* display: flex; This removes the bullets on the navbar */
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;

}
    a {  /* Links for the list items, underline and color adjusted */
        text-decoration: none;
        color: #232323;
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        font-weight:400;
    }
    a:hover {  /* When hovering over list items, color changes */
        color: rgb(211, 211, 211);
        transition-delay: 0.02s;
        font-style: oblique;
    }

nav ul {  /* Centers list */
    display: flex;
    justify-content: left;
    justify-items: left;
}

/* #root {
  background-color: black;
  max-width: 1200px;
  padding: 0;
  margin: auto;
  width: 1600px;
  padding: 10px;
  border-radius: 25px; 
  } */

body {
    background-color: white;
    /* color: beige; */
    padding: 0;
    margin: 0;
    width: auto;

}

header {
    background-color: white;
    /* background-image: linear-gradient(to top right, rgb(233, 10, 10) , rgb(0, 0, 114)); */
    color: beige;
    padding: 30px;
    border-radius: 25px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
    }

/* 
h1 {
    color: #232323;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px; 
} */

p {
    color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Aleo, serif; /* Kumbh Sans, sans-serif; */
    height: 1080px;
}

/* .h1bottom {
    height: 200px;
} */

.second {
    /* background-image: linear-gradient(to bottom , rgb(0, 119, 167) , rgb(0, 0, 114)); */
    height: 100rem;
    padding: 30px;
    margin-top: 1rem;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50rem
}

h2 {
    color: black;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button {
    background-color: beige;
    border: 0;
    border-radius: 8px;
    display:inline;
}

button:hover {
    background-color:cornflowerblue;
} */

h3 {
    color: black;
    font-family: 'Nunito', sans-serif;;
}

h3:hover {
    color: darkgray;
}

.logo {
  width: 130px;
  height: 130px;
  border-radius: 60%;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}


.hero {
    color: black;
    background-color: white;
    font-family: 'Nunito', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100dvh;    
    gap: 30px; 

}

section {
    padding: 2rem;
    min-height: 100dvh;    
}

.card {
    border: 2px solid #ccc;
    padding: 30px;

    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    
    /* height: 30%; */
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    max-width: 800px;
    margin: 0 auto;
}